jupyter  ~= 1.0.0
pandas   == 2.2.2
openpyxl == 3.1.5
numpy    < 2.0.0
scipy    < 1.14.0
scikit-learn==1.5.1
ipython==8.27.0
nltk==3.9.1
gensim==4.3.3
kneed==0.8.5
ollama == 0.4.7
tqdm== 4.66.5
transformers>=4.45.2
matplotlib==3.9.2
torch==2.4.1
sentence-transformers==3.2.1
datasets==3.0.2
iterative-stratification==0.1.9
scikit-multilearn==0.2.0
python-dotenv==1.0.1
PyYAML==6.0.2
pydantic==2.9.2
click==8.1.8
wandb~=0.18.7
spacy~=3.8.2
seqeval~=1.2.2
asteval~=1.0.6
networkx~=3.4.1
seaborn~=0.13.2
sympy~=1.13.3
pydot==3.0.4